{% extends 'base.html' %}

{% block content %}
<style>
    .choice-label {
        display: block;
        padding: 10px;
        margin-bottom: 5px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f8f8f8;
        cursor: pointer;
    }
    
    .choice-label:hover {
        background-color: #e9ecef;
    }
    
    .choice-input {
        display: none;
    }
    
    .choice-input:checked + .choice-label {
        background-color: #cae0f4;
        border-color: #b8daff;
    }

    .card {
        /* カードのカスタムスタイル */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 影をつける */
        border: none; /* 枠線を消す */
    }
    
    .card-body {
        /* カードボディのカスタムスタイル */
    }
    
    .card-text {
        /* カードテキストのカスタムスタイル */
        font-size: 1.1em; /* フォントサイズを大きく */
    }

    .btn-warning{
        margin-top:10px;
    }

    .btn{
        margin:5px;
    }

    #timer-placeholder {
        height: 50px; /* タイマーの高さに応じて調整 */
    }

    /* ブックマークに追加ボタンのマウスオーバー時 */
    .btn-outline-secondary:hover {
        background-color: #6c757d; /* 濃い灰色 */
        color: white;
    }
    
    /* ブックマーク済みボタンのマウスオーバー時 */
    .btn-warning:hover {
        background-color: #ffc107; /* より鮮やかな黄色 */
        color: black;
    }

    /* CSSファイルまたは<style>タグ内 */
        .result-correct {
            color: green;
            font-weight: bold;
        }
        
        .result-incorrect {
            color: red;
            font-weight: bold;
        }
        
</style>

<div class="container mt-3">
    <h2>第{{ exam.year }}回 国試問題</h2>
    <div class="card mb-3">
        <div class="card-body">
            <p class="card-text"><strong>問{{ question.question_number }}: {{ question.question_text }}</strong></p>
            {% if question.question_image %}
                <img src="{{ question.question_image.url }}" class="img-fluid mb-3" alt="問題画像">
            {% endif %}
            <!-- 選択肢のリスト表示 -->
            <div id="choices">
                {% for choice in question.choices.all %}
                    <div>
                        <input type="radio" id="choice_{{ choice.id }}" name="choices" value="{{ choice.id }}" class="choice-input">
                        <label for="choice_{{ choice.id }}" class="choice-label">{{ choice.choice_text }}</label>
                    </div>
                {% endfor %}
            </div>
            <button id="check-answer-btn" class="btn btn-primary mt-2" data-question-id="{{ question.id }}" data-check-answer-url="{% url 'pt_kokushi:check_answer' question.id %}">正解か確認する</button>
            <div id="result" style="display:none;"></div>
            <br>
            <div id="answer" style="display:none;">
                <p><strong>解説：</strong>{{ question.answer_text }}</p>
            </div>
            <button id="show-answer-btn" class="btn btn-info mt-2">解説を表示</button>
        </div>
    </div>
</div>
<div>
    {% if request.user.is_authenticated %}
        <div class="mt-3">
            {% if is_bookmarked %}
                <form action="{% url 'pt_kokushi:remove_bookmark' question.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">ブックマーク済み</button>
                </form>
            {% else %}
                <form action="{% url 'pt_kokushi:add_bookmark' question.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-secondary">この問題をブックマークに追加</button>
                </form>
            {% endif %}
        </div>
    {% endif %}
</div>

<p><a href="{% url 'pt_kokushi:bookmark_list' %}" class="btn btn-secondary">リストへ戻る</a></p>
<p><a href="{% url 'pt_kokushi:top' %}" class="btn btn-secondary">トップへ戻る</a></p>
</div>
<script>
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    document.addEventListener('DOMContentLoaded', function() {
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const checkAnswerBtn = document.getElementById('check-answer-btn');
        
        checkAnswerBtn.addEventListener('click', function() {
            const questionId = checkAnswerBtn.dataset.questionId;
            const selectedChoiceId = document.querySelector('input[name="choices"]:checked').value;
            const checkAnswerUrl = checkAnswerBtn.dataset.checkAnswerUrl;
            
            fetch(checkAnswerUrl, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken,
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ choice_id: selectedChoiceId })
            })
            .then(response => response.json())
            .then(data => {
                const resultDiv = document.getElementById('result');
                // 以前のクラスをクリア
                resultDiv.className = '';
                // 正解か不正解かに応じてクラスを適用
                if (data.is_correct) {
                    resultDiv.textContent = "正解です！";
                    resultDiv.classList.add("result-correct");
                } else {
                    resultDiv.textContent = "不正解です。";
                    resultDiv.classList.add("result-incorrect");
                }
                resultDiv.style.display = 'block';
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    });
    
    
    document.addEventListener('DOMContentLoaded', function() {
        const showAnswerBtn = document.getElementById('show-answer-btn');
        const answerDiv = document.getElementById('answer');
    
        showAnswerBtn.addEventListener('click', function() {
            // 解答が現在非表示なら表示し、表示されているなら非表示にする
            if (answerDiv.style.display === "none") {
                answerDiv.style.display = "block";
                showAnswerBtn.textContent = "解説を隠す"; // ボタンのテキストを変更
            } else {
                answerDiv.style.display = "none";
                showAnswerBtn.textContent = "解説を表示"; // ボタンのテキストを変更
            }
        });
    });
</script>
{% endblock %}