{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}

<style>
    .choice-label {
        display: block;
        padding: 10px;
        margin-bottom: 5px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f8f8f8;
        cursor: pointer;
    }
    
    .choice-label:hover {
        background-color: #e9ecef;
    }
    
    .choice-input {
        display: none;
    }
    
    .choice-input:checked + .choice-label {
        background-color: #cae0f4;
        border-color: #b8daff;
    }

    .card {
        /* カードのカスタムスタイル */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 影をつける */
        border: none; /* 枠線を消す */
    }
    
    .card-body {
        /* カードボディのカスタムスタイル */
    }
    
    .card-text {
        /* カードテキストのカスタムスタイル */
        font-size: 1.1em; /* フォントサイズを大きく */
    }

    .btn-warning{
        margin-top:10px;
    }

    #timer {
        position: fixed;
        top: 80px;
        right: 10px;
        background-color: rgba(255, 255, 255, 0.9);
        color: #333;
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        z-index: 1000; /* 必要に応じて調整 */
    }

    #timer-placeholder {
        height: 50px; /* タイマーの高さに応じて調整 */
    }

    .btn-danger-subtle {
        background-color: #f8d7da; /* Bootstrapの $danger 色を薄くしたもの */
        color: #721c24; /* Bootstrapの $danger 色の濃いもの */
        border-color: #f5c6cb; /* Bootstrapの $danger 色をさらに薄くしたもの */
    }
    .btn-danger-subtle:hover {
        background-color: #f5c6cb; /* ホバー時は少し明るく */
        border-color: #f1b0b7;
    }
    
    /* ブックマーク済みボタンのマウスオーバー時 */
    .btn-warning:hover {
        background-color: #ffc107; /* より鮮やかな黄色 */
        color: black;
    }



</style>
<div id="timer-placeholder" style="height: 50px;"></div>

<div class="container mt-3">
    <h2>第{{ exam.year }}回 国試問題</h2>
    <div id="timer"></div>
    <div class="card mb-3">
        <div class="card-body">
            <form action="{% url 'pt_kokushi:submit_quiz_answers' question.id %}" method="post">
                {% csrf_token %}
                <!-- 問題文の表示 -->
                
                <p class="card-text"><strong>問{{ question.question_number }}: {{ question.question_text }}</strong></p>
                {% if question.question_image %}
                    <img src="{{ question.question_image.url }}" class="card-img-bottom mb-3" alt="問題画像">
                {% endif %}
                <!-- 選択肢の表示 -->
                {% for choice in question.choices.all %}
                <div>
                    <input type="checkbox" id="choice_{{ choice.id }}" name="question_{{ question.id }}" value="{{ choice.id }}" class="choice-input">
                    <label for="choice_{{ choice.id }}" class="choice-label">{{ choice.choice_text }}</label>
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">次の問題へ</button>
            </form>
            <br>
            <div id="answer" style="display:none;">
                <p><strong>解答：</strong>{{ question.answer_text }}</p>
            </div>
            <button id="show-answer-btn" class="btn btn-info">解答を表示</button>
        </div>
    </div>
</div>
<div class="container mt-3">
{% if request.user.is_authenticated %}
    {% if question|is_bookmarked:request.user %}
        <form action="{% url 'pt_kokushi:remove_bookmark' question.id %}" method="post" class="mt-3">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger-subtle">ブックマーク済み</button>
        </form>
    {% else %}
        <form action="{% url 'pt_kokushi:add_bookmark' question.id %}" method="post" class="mt-3">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-secondary">この問題をブックマークに追加</button>
        </form>
    {% endif %}
{% endif %}
</div>
<div class="container mt-3">
    <a href="{% url 'pt_kokushi:restart_kokushi_quiz' %}" class="btn btn-warning mb-2">最初から解き直す</a>
    <br>
    <form action="{% url 'pt_kokushi:exit_quiz' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-warning">途中で抜ける</button>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const choices = document.querySelectorAll('.choice-input');
        choices.forEach(choice => {
            choice.addEventListener('change', function() {
                if(this.checked) {
                // ここにチェックされたときの処理を書く
                    console.log(this.value + 'が選択されました');
                }
           });
        });
    });

//試験時間のカウントダウン用
document.addEventListener('DOMContentLoaded', function() {
    var endTime = new Date("{{ quiz_session.end_time|date:'c' }}").getTime();
    console.log(endTime); // この時点で`endTime`は定義されているため、コンソールにログ出力できます。
    console.log("{{ quiz_session.end_time|date:'c' }}")
    var timer = setInterval(function() {
        var now = new Date().getTime();
        var distance = endTime - now;

        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        document.getElementById("timer").innerHTML = hours + "時間 " + minutes + "分 " + seconds + "秒";

        if (distance < 0) {
            clearInterval(timer);
            document.getElementById("timer").innerHTML = "時間切れ";
        }
    }, 1000);
});



    //解答表示切り替え用
    document.addEventListener('DOMContentLoaded', function() {
        const showAnswerBtn = document.getElementById('show-answer-btn');
        const answerDiv = document.getElementById('answer');
    
        showAnswerBtn.addEventListener('click', function() {
            // 解答が現在非表示なら表示し、表示されているなら非表示にする
            if (answerDiv.style.display === "none") {
                answerDiv.style.display = "block";
                showAnswerBtn.textContent = "解答を隠す"; // ボタンのテキストを変更
            } else {
                answerDiv.style.display = "none";
                showAnswerBtn.textContent = "解答を表示"; // ボタンのテキストを変更
            }
        });
    });
</script>

    
{% endblock %}
