{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .title{
        font-weight: bold;
    }
    .card{
        width:50%;
    }
    .card-title{
        font-weight: bold;
    }
    .btn-custom{
        margin:5px;
        border-radius: 15px !important;
        width:150px;
    }
    .btn-timer{
        border-radius: 15px !important;
    }
    @media (max-width: 768px) {
        .card {
            width: 90%; /* スマートフォンではカードの幅を90%に */
        }
        .btn-custom, .btn-timer {
            width: 100%; /* ボタンの幅を画面幅に合わせる */
            margin: 10px; /* ボタン間のマージンを増やす */
        }
        /* タイトルとカードタイトルのフォントサイズを小さくする */
        .title, .card-title {
            font-size: 18px;
        }
    }
</style>

<div class="container my-4">
    <div class="row justify-content-left">
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-header">
                    {{ user.nickname }}さんの累計成績
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ total_questions_answered_cumulative }}問中  {{ total_correct_answers_cumulative }}問正解</h5>
                    <p class="card-text">累計の正答率: {{ cumulative_accuracy_rate|floatformat:2 }}%</p>
                </div>
                <div class="card-footer text-muted">
                    280点中 168点以上で合格!<br>
                    (実地問題は43点以上,15問以上正解)<br>
                    正答率は60%以上必要です
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <h1 class = "title">試験時間設定</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">理学療法国家試験時間</h5>
            <p class="card-text">午前2時間40分（9時50分〜12時30分）</p>
            <p class="card-text">午後2時間40分（14時20分〜17時00分）</p>
        </div>
    </div>
<br>
    
<form method="post" action="{% url 'pt_kokushi:timer' %}">
    {% csrf_token %}
    <div class="btn-group" role="group" aria-label="Time options">
        <button type="submit" name="time_limit" value="60" class="btn btn-primary btn-custom">1時間</button>
        <button type="submit" name="time_limit" value="120" class="btn btn-primary btn-custom">2時間</button>
        <button type="submit" name="time_limit" value="160" class="btn btn-primary btn-custom">2時間40分</button>
        <button type="submit" name="time_limit" value="320" class="btn btn-primary btn-custom">5時間20分</button>
    </div>
    <input type="hidden" name="exam_year" value="{{ request.session.exam_year }}">
    <br><br>
    <div>
        <input type="text" name="custom_time_limit" id="customTimeLimit" placeholder="分単位で時間を入力:例 2時間→120 , 3時間→180" class="form-control" />
        <br>
        <button type="submit" id="setCustomTimeLimit" class="btn btn-warning btn-timer">任意の時間で開始</button>
    </div>
</form>
<br>
    <!-- 前回の続きから開始するボタン -->
    <a href="{% url 'pt_kokushi:continue_quiz' %}" class="btn btn-info">前回の続きから</a>

<!-- JavaScriptでバリデーションとフォーム送信の処理を追加 -->
<script>
    document.getElementById('setCustomTimeLimit').addEventListener('click', function(e) {
        e.preventDefault();  // フォームのデフォルトの送信を防ぐ
        var customTimeLimit = document.getElementById('customTimeLimit').value;
        if (customTimeLimit && !isNaN(customTimeLimit) && parseInt(customTimeLimit) > 0) {
            // バリデーションを通過した場合、フォームを送信
            document.querySelector('form').submit();
        } else {
            alert('有効な時間（分）を入力してください。');
        }
    });
</script>
{% endblock %}
