{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
  .quiz-button {
    margin-bottom: 10px; /* 選択肢間の間隔を調整 */
    border: 1px solid #ddd; /* 枠線を細くして目立たなくする */
    background-color: #f8f8f8; /* 背景色を薄くする */
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターにする */
  }

  .quiz-button:hover {
    background-color: #e9ecef; /* ホバー時の背景色 */
  }

  /* ラジオボタンを隠す */
  .quiz-button input[type="radio"] {
    display: none;
  }

  /* ラジオボタンが選択されたときのスタイル */
  .quiz-button input[type="radio"]:checked + span {
    background-color: #ccc; /* 選択されたときの背景色 */
  }
</style>

<main class="quiz outer-block">
  <div class="inner-block">
    <div class="quiz-content">
      <div class="quiz-question-number"></div>
      <h2 class="quiz-question">{{ question.question_text }}</h2>
      <div class="quiz-answer row">
        {% for choice_id, choice_text in choices %}
        <div class="col-md-6">
          <label class="quiz-button d-block p-2" id="label{{ choice_id }}">
            <input type="radio" name="radio" id="choice{{ choice_id }}" value="{{ choice_id }}" class="d-none" onclick="submitAnswer(event, {{ question.id }}, '{{ choice_id }}', 'label{{ choice_id }}')">
            <span onclick="event.stopPropagation()">{{ choice_text }}</span>
          </label>
        </div>
        {% endfor %}
      </div>      
    </div>
  </div>
</main>

<!-- カスタムポップアップのHTML -->
<div id="customPopup" 
style="display:none; 
       font-weight:bold;
       position:absolute; 
       background-color:#EEFFFF; 
       padding:20px; 
       border:1px solid #ccc; 
       border-radius:5px; 
       box-shadow:0 2px 5px rgba(0,0,0,0.2);
">
  <p id="popupMessage"></p>
</div>

<script>
  function showCustomPopup(message, elementId) {
    var element = document.getElementById(elementId);
    if (!element) {
      console.error('Element with ID ' + elementId + ' is null.');
      return;
    }
  
    var popup = document.getElementById('customPopup');
    popup.style.display = 'block';
    popup.innerHTML = message;
  
    var rect = element.getBoundingClientRect();
    popup.style.top = rect.top + window.scrollY - popup.offsetHeight - 10 + 'px';
    popup.style.left = rect.left + window.scrollX + 'px';
  
    setTimeout(function() {
      popup.style.display = 'none';
    }, 1000);
  }
  
  function submitAnswer(event, questionId, selectedChoice, elementId) {
    console.log("Sending answer: ", selectedChoice); 
    event.stopPropagation(); // イベントの伝播を停止
  
    fetch('{% url 'pt_kokushi:submit_answer' %}', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': '{{ csrf_token }}'
      },
      body: JSON.stringify({
        question_id: questionId,
        selected_answer: selectedChoice
      })
    })
    .then(response => response.json())
    .then(data => {
      if (data.is_correct) {
        showCustomPopup("正解！", elementId);
      } else {
        showCustomPopup("不正解！", elementId);
      }
  
      setTimeout(function() {
        if (data.next_question_url && data.next_question_url !== 'undefined') {
          window.location.href = data.next_question_url;
        } else {
          console.error('Next question URL is undefined or incorrect');
        }
      }, 1000); // 1秒後に次の問題へ遷移する
    });
  }
</script>
{% endblock %}