{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .subfield-title {
        padding: 0.5em;
        color: #494949;
        background: #fffaf4;
        border-left: solid 5px #ffaf58;
    }
</style>    
    <div class="container mt-3">
        <h1 class="mb-4">{{ field.name }}の詳細な分野を選択してください</h1>
        <ul class="list-group">
            {% for subfield in subfields %}
        <li class="list-group-item">
            <div class="d-flex justify-content-between">
                <div>
                    <h5 class="subfield-title">{{ subfield.name }}</h5>
                    <p class="small text-muted">{{ subfield.description }}</p>
                </div>
                {% if subfield.has_detailed_selection %}
                    <!-- 詳細選択へ -->
                    <form method="post" action="{% url 'pt_kokushi:select_sub2field' subfield.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="sub2field_id" value="{{ subfield.id }}">
                        <button type="submit" class="btn btn-info">さらに詳細な分野へ</button>
                    </form>
                {% else %}
                    <!-- クイズ直接開始 -->
                    <form method="post" action="{% url 'pt_kokushi:initialize_quiz' %}">
                        {% csrf_token %}
                        <input type="hidden" name="subfield_id" value="{{ subfield.id }}">
                        <button type="submit" class="btn btn-primary">クイズを開始</button>
                    </form>
                {% endif %}
            </div>
        </li>
    {% endfor %}
    <br>
    <p><a href="{% url 'pt_kokushi:select_field' %}" class="btn btn-secondary">分野選択へ戻る</a></p>
{% endblock %}
