{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-3">
        <h1 class="mb-4">{{ field.name }}の詳細な分野を選択してください</h1>
        <ul class="list-group">
            {% for subfield in subfields %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <p  class="btn btn-primary">{{ subfield.name }}</p>
                        <p>{{ subfield.description }}</p>
                    </div>
                    {% if subfield.has_detailed_selection %}
                        <a href="{% url 'pt_kokushi:select_sub2field' subfield.id %}" class="btn btn-info">詳細な分野へ</a>
                    {% else %}
                        <a href="{% url 'pt_kokushi:quiz' subfield.id %}" class="btn btn-primary">クイズを開始</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
