{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-3">
        <h1 class="mb-4">分野を選択してください</h1>
        <ul class="list-group">
            {% for field in fields %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <form method="post" action="{% url 'pt_kokushi:select_field' %}">
                        {% csrf_token %}
                        <input type="hidden" name="field_id" value="{{ field.id }}">
                        <button type="submit" class="btn btn-primary">{{ field.name }}</button>
                    </form>
                    <p>{{ field.description }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
    <br>
    <p><a href="{% url 'pt_kokushi:top' %}" class="btn btn-secondary">トップへ戻る</a></p>
{% endblock %}
