<!-- my_page.html -->
{% extends 'base.html' %}

{% block content %}
  <h2>パスワード変更</h2>
  <form method="post">
    {% csrf_token %}
    {{ password_form.as_p }}
    <button type="submit">変更</button>
  </form>
  
  <h2>ニックネーム変更</h2>
  <span class="navbar-text">
    現在のニックネームは「{{ user.nickname }} さん」です
</span>

  <form method="post">
    {% csrf_token %}
    {{ nickname_form.as_p }}
    <button type="submit">変更</button>
  </form>
  <br>
  <p><a href="{% url 'top' %}">戻る</a></p>
   
{% endblock %}

{% if messages %}
{% for message in messages %}
    {{ message }}
{% endfor %}
{% endif %}