<!-- my_page.html -->
{% extends 'base.html' %}

{% block content %}
  <h2>マイページ</h2>
  
  <!-- ユーザー情報の表示 -->
  <div>
    <p>ニックネーム: {{ request.user.nickname }}</p>
    <p>メールアドレス: {{ request.user.email }}</p>
    <p>登録日: {{ request.user.date_joined }}</p>
  </div>

  <!-- パスワード変更へのリンク -->
  <p><a href="{% url 'pt_kokushi:change_password' %}">パスワード変更</a></p>

  <!-- ニックネーム変更へのリンク -->
  <p><a href="{% url 'pt_kokushi:change_nickname' %}">ニックネーム変更</a></p>

  <br>
  <p><a href="{% url 'pt_kokushi:top' %}">戻る</a></p>
{% endblock %}
