{% load static %}
{% block content %}
{% load django_bootstrap5 %}

<style>
  body {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  .signup-form {
    max-width: 400px;
    mac-height: 90%;
    width: 100%;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    border: 5px solid blue;
    border-radius: 50px;
    font-weight: bold;
  }

  .signup-form h2 {
    color: #6495ED;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
  }

  .signup-form label {
    float: left;
    text-align: left;
    display: inline-block;
    width: 100%;
  }

  .signup-form input[type="text"],
  .signup-form input[type="email"],
  .signup-form input[type="password"],
  .signup-form select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
  }

  .signup-form button {
    background-color: #0000EE;
    color: white;
    font-size: 100%;
    padding: 10px;
    width: 10%;
    cursor: pointer;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
  }

  .signup-form .form-group.radio-group {
    text-align: center;
  }

  .signup-form input[type="radio"] {
    margin: 10px 20px;
    transform: scale(1.5); /* ラベルとボタンのサイズを調整 */
  }

  /* メディアクエリ */
  @media screen and (min-width: 768px) {
    .signup-form {
      max-width: 50%;
      max-height: 100%;
    }

    .form-group {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .signup-form label {
      width: 30%;
      text-align: left;
      display: inline-block;
    }

    .signup-form input[type="text"],
    .signup-form input[type="email"],
    .signup-form input[type="password"],
    .signup-form select {
      width: 65%;
    }

    .signup-form select[name*="birth_of_date"] {
      width: 50%;
    }
  }

  @media screen and (max-width: 768px) {
    .signup-form {
      max-width: 100%;
    }

    .signup-form input[type="text"],
    .signup-form input[type="email"],
    .signup-form input[type="password"],
    .signup-form select {
      width: 100%;
    }
  }
</style>

<div class="signup-form">
  <h2>会員登録フォーム</h2>
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group">
      {{ signup_form.email.label_tag }}
      {{ signup_form.email }}
    </div>
    <div class="form-group">
      {{ signup_form.password1.label_tag }}
      {{ signup_form.password1 }}
    </div>

    <div class="form-group">
      {{ signup_form.password2.label_tag }}
      {{ signup_form.password2 }}
    </div>
    <div class="form-group">
      {{ signup_form.nickname.label_tag }}
      {{ signup_form.nickname }}
    </div>
    <div class="form-group">
      {{ signup_form.test_year.label_tag }}
      {{ signup_form.test_year }}
    </div>
    <div class="form-group">
      {{ signup_form.birth_of_date.label_tag }}
      {{ signup_form.birth_of_date }}
    </div>
    <div class="form-group">
      {{ signup_form.prefecture.label_tag }}
      {{ signup_form.prefecture }}
    </div>
    <div class="form-group">
      {{ signup_form.school_year.label_tag }}
      {{ signup_form.school_year }}
    </div>
    <div class="form-group radio-group">
      {{ signup_form.gender.label_tag }}
      {{ signup_form.gender }}
    </div>

    <button type="submit" name="submit">登録する</button>
  </form>
</div>

{% endblock %}
