{% extends 'base.html' %}
{% block content %}
<h1>学習チャート</h1>
<canvas id="studyLogChart"></canvas>

<form method="post" action="{% url 'pt_kokushi:save_study_log' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="studyDate">学習日</label>
        <input type="date" class="form-control" id="studyDate" name="study_date" required value="{{ today }}">
    </div>
    <div class="form-group">
        <label for="studyDuration">学習時間（分）</label>
        <input type="number" class="form-control" id="studyDuration" name="study_duration" required>
    </div>
    <div class="form-group">
        <label for="studyContent">学習内容</label>
        <textarea class="form-control" id="studyContent" name="study_content" rows="3" required></textarea>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">記録する</button>
</form>
{% if weekly_total %}
<div>週間学習時間: {{ weekly_total }}時間</div>
{% endif %}
<div>月間学習時間: {{ monthly_total }}時間</div>
<div>年間学習時間: {{ yearly_total }}時間</div>
<div>トータル学習時間: {{ total_study_time }}時間</div>


<script>
    var ctx = document.getElementById('studyLogChart').getContext('2d');
    var studyLogChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [], 
            datasets: [{
                label: '学習時間（時間）',
                data: [], // 初期状態ではデータも空にしておきます
                backgroundColor: 'rgba(255, 99, 132, 0.8)',
                borderColor: 'rgba(255, 50, 0, 1)',
                borderWidth: 3
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    
                }
            }
        }
    });
    
    // データのフェッチとチャートの更新
    fetch('/login_app/studychart/study-log-data/') // APIのURLに置き換える
    .then(response => response.json())
    .then(data => {
        // 表示期間の開始日と終了日を設定（例：最新の1週間）
        const endDate = new Date();
        const startDate = new Date();
        startDate.setDate(endDate.getDate() - 7); // 最新の1週間
    
        const dateMap = {};
        
        // 開始日から終了日までの全日付でループ
        for(let date = new Date(startDate); date <= endDate; date.setDate(date.getDate() + 1)){
            const dateString = date.toISOString().split('T')[0];
            dateMap[dateString] = 0; // 初期値として0を設定
        }
    
        // データをループして日付ごとに学習時間を集計
        data.forEach(log => {
            if(dateMap.hasOwnProperty(log.study_date)){
                dateMap[log.study_date] += log.study_duration / 60; // 学習時間を時間単位で加算
            }
        });
    
        // 集計したデータをチャートのデータソースとして使用
        studyLogChart.data.labels = Object.keys(dateMap);
        studyLogChart.data.datasets[0].data = Object.values(dateMap);
    
        // チャートを更新
        studyLogChart.update();
    })
    .catch(error => console.error('Error fetching data:', error));


</script>
    

{% endblock %}