{% extends 'base.html' %}
{% load dict_helpers %}
{% block content %}

<style>
  .editable-subject {
    width: 50%;
}

.editable-subject {
    background-color: #CCFFCC;
    max-width: 150px; 
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 0px 5px #ccc; /* 影を追加 */
}

#timetable {
  max-width: 600px; /* 最大幅を600pxに設定 */
  width: 50%; /* テーブルの幅を50%に設定 */
}

@media (min-width: 768px) {
  #timetable {
      width: 50%; /* 画面幅が768px以上の場合の幅 */
  }
}
.table th, .table td {
  width: 100px;
  max-width: 100px; /* 最大幅を設定 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.custom-button {
  font-size: 16px; /* フォントサイズの変更 */
  margin-top: 10px; /* 上マージンの追加 */
}
</style>

<h2>時間割表</h2>
<br>
<a href="{% url 'pt_kokushi:create_timetable' %}" class="btn btn-primary">新しい時間割を追加</a>
<br><br>
<h6>変更・削除は授業名をクリック</h6>
<table class="table table-bordered" id="timetable">
  <thead>
    <tr>
      <th>時間帯</th>
      {% for day in days %}
      <th>{{ day }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for time_slot in time_slots %}
      <tr>
        <td>{{ time_slot }}</td>
        {% for day in days %}
          <td>
            {% with subject=timetable_data|get_item:day|get_item:time_slot %}
              {% if subject %}
                <span class="editable-subject" data-id="{{ subject.id }}">
                  {{ subject.subject }}
                </span>
              {% else %}
                -
              {% endif %}
            {% endwith %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
<br>
<p><a href="{% url 'pt_kokushi:my_page' %}" class="btn btn-secondary">マイページに戻る</a></p>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    const table = document.getElementById('timetable');
    table.addEventListener('click', function(e) {
      const target = e.target;
      if (target.classList.contains('editable-subject')) {
        const id = target.dataset.id;
        window.location.href = `/login_app/timetable/update/${id}/`;
      }
    });
  });
</script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      const subjects = document.querySelectorAll('.editable-subject');
      subjects.forEach(subject => {
          subject.addEventListener('mouseover', function() {
              // ポップアップやツールチップを表示するコードをここに書く
              subject.style.backgroundColor = '#0FF'; // 例：背景色を変更
          });
  
          subject.addEventListener('mouseout', function() {
              // ポップアップやツールチップを非表示にするコード
              subject.style.backgroundColor = ''; // 背景色をリセット
          });
      });
  });
  </script>
  

{% endblock %}