{% extends "base.html" %}
{% block title %}理学療法国試対策{% endblock%}
{% block content %}
<div id = "all-display">
 <div id = "top-nav">
     <div class = "title">
         <h1 id = "title_top">理学療法国試対策アプリ</h1>
     </div>
 </div>
 <div id = "timelimit-view" name="year_number">
     <p class="atdays">国試まであと</p>
     <p id="timer"></p>
 </div>
 <script>
    function updateTimer() {
        fetch('{% url  'pt_kokushi:get-remaining-time' %}')
            .then(response => response.json())
            .then(data => {
                const remainingSeconds = data.remaining_seconds;
                if (remainingSeconds !== null) {
                    const days = Math.floor(remainingSeconds / (24 * 3600));
                    const hours = Math.floor((remainingSeconds % (24 * 3600)) / 3600);
                    const minutes = Math.floor((remainingSeconds % 3600) / 60);
                    const seconds = Math.floor(remainingSeconds % 60);
                    document.getElementById("timer").textContent = `${days}日 ${hours}時間 ${minutes}分 ${seconds}秒`;
                } else {
                    document.getElementById("timer").textContent = "情報がありません";
                }
            });
    }

    updateTimer();
    setInterval(updateTimer, 1000); // 毎秒更新
</script>

 <div = id = "side-quest">
    <div id = "side-bar">
        <p class = "button-001" id = "grade">成績</p>
        <p class = "button-001" id = "category">分野ごと</p>
        <p class = "button-001" id = "year">年度ごと</p>
        <p class = "button-001" id = "bookmark">ブックマーク問題</p>
        <p class = "button-001" id = "random">ランダム問題</p>
        <p class = "button-001" iD = "three-q">3点問題のみ</p>
        <p class = "button-001" is = "study-mode">学習モード</p>
        <p class = "button-001" id = "goal">目標設定</p>
    </div>
    <div id = "national-examination">
        <div class = "button national-year even" id = "58-year">第58回</div>
        <p class = "button national-year odd" id = "57-year">第57回</p>
        <p class = "button national-year even" id = "56-year">第56回</p>
        <p class = "button national-year odd" id = "55-year">第55回</p>
        <p class = "button national-year even" id = "54-year">第54回</p>
        <p class = "button national-year odd" id = "53-year">第53回</p>
        <p class = "button national-year even" id = "52-year">第52回</p>
        <p class = "button national-year odd" id = "51-year">第51回</p>
        <p class = "button national-year even" id = "50-year">第50回</p>
        <p class = "button national-year odd" id = "49-year">第49回</p>
    </div>    
</div>
</div>
{% endblock %}