/*全体の画像*/
#all-display{
    height:448px;
    width:400px;
    background-color:#8be4f0;
    width: auto;
    height: auto;
    border-radius: 20px;
    border: solid 3px black;
}

/*トップのナビのdivの部分の位置関係*/
#top-nav{
    background-color: #CCFFFF;
    width: auto;
    height: auto;
    padding: auto;
    border-radius: 20px 20px 0px 0px;
}

/*ナビゲーションのリンクの文字の部分*/
.nav-link {
    font-weight: bold;
    color:white;
    text-shadow: 2px 2px 2px black;
}

.navbar-text {
    margin-right: auto; /* 右側の余白を自動に設定して、左に寄せる */
    padding-top: .5rem; /* 既存のスタイル */
    padding-bottom: .5rem; /* 既存のスタイル */
}



/*理学療法国試アプリのCSS*/
#title_top{
        color: #fff;
        border: 2px dashed #fff;
        background-color: #4989ff;
        box-shadow: 0px 0px 0px 10px #4989ff;
        padding: 10px;
        margin: 17px;
}

/*理学療法国試アプリのdiv要素*/
.title{
    display: inline-block;
}

/*タイマー用のCSS*/
p.atdays {
    display: inline-block;
    margin: auto;
    background: #f0db3f;
    color: #313131;
    padding: 3px 20px;
    position: relative;
    border-radius: 2px;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 0.05em;
}
p.atdays:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -10px;
    border: 10px solid transparent;
    border-top: 10px solid #f0db3f;
    z-index: 2;
}
p#countTimer {
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-align: center;

}
p#countTimer span {
    font-size: 1rem;
    font-weight: 400;
    margin-right: 10px;
}
/*国試までのタイマーの全体のCSS*/
#timelimit{
    display: inline-block;
    margin: 30px;
    border: solid 3px black;
    width: 350px;
    background-color: beige;
}

/*サイドバーと問題の位置*/
#side-quest{
    display: flex !important;
    margin: 20px;
}

#side-bar{
    font-weight: bold;
    background-color: whitesmoke;
    border: solid 3px black;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}

/*国試の問題の選択肢*/
#national-examination{
    margin: 20px;
    border: solid 3px black;
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.national-year{
    margin: 20px;
    padding: 10px;
    border: solid 2px #008000;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    
}

/*国試年度選択のボタン化*/
.button{
  transition: 0.3s all ease-in-out;
  padding: 15px 30px;
  color: #00b4ff;
  text-decoration: none;
  border: 2px solid #00b4ff;
  background: rgba(255, 255, 255, 0.9);  
  border-radius: 50px;
  box-shadow: inset rgba(97, 202, 246, 0.7) 0px 0px 10px, rgba(97, 202, 246, 0.3) 0px 11px 20px 3px;
  }
  .button:hover{
  color: #ffffff;
  background: linear-gradient(60deg, #00b3fe, #00b4ff);
  box-shadow: rgba(97, 202, 246, 0.9) 0px 15px 30px;
  }

/*国試の問題の奇数と偶数での区分け*/
.odd{
    background-color: #CCCCFF;
    color: #313131;
}




/*サイドバーのクラス設定*/
/* ボタンのスタイル */
.button-001 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin:10px;
    padding: .9em 2em;
    border: 1px solid #2589d0;
    border-radius: 10px;
    background-color: #fff;
    color: #2589d0;
    font-size: 1em;
}

.button-001::after {
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    margin-left: 10px;
    border-top: 2px solid #2589d0;
    border-right: 2px solid #2589d0;
    content: '';
}

.button-001:hover{
    color: #ffffff;
    background: linear-gradient(60deg, #00b3fe, #00b4ff);
    box-shadow: rgba(97, 202, 246, 0.9) 0px 15px 30px;
}

/*登録画面*/
.form-control {
    background-color: #008000;
}

