{% extends 'base.html' %}

{% block content %}
<h2>ToDoリスト - {% now "Y年-m月-d日 l" %}</h2> 

<p><a href="{% url 'pt_kokushi:create_todo_item' %}" class="btn btn-primary">新しいToDoを追加</a></p>

<ul>
    {% for todo_item in todo_items %}
    <li>
        <strong>{{ todo_item.title }}</strong> (期限：{{ todo_item.deadline }})
        <p>{{ todo_item.description }}</p>
        <!-- 変更リンク -->
        <a href="{% url 'pt_kokushi:update_todo_item' todo_item.pk %}" class="btn btn-secondary">変更</a>
        <!-- 削除リンク -->
        <a href="{% url 'pt_kokushi:delete_todo_item' todo_item.pk %}" class="btn btn-danger">削除</a>
    </li>
    {% empty %}
    <li>ToDoアイテムはありません。</li>
    {% endfor %}
</ul>
{% endblock %}
