{% extends 'base.html' %}
{% block content %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}
{% load custom_charts %}

<style>
    #studyTimeTable th, #studyTimeTable td {
        padding: 10px; /* セルのパディングを増やす */
        text-align: center; /* テキストを中央揃えにする */
    }
    #studyTimeTable th {
        background-color: #4CAF50; /* ヘッダーの背景色を変更 */
        color: black; /* ヘッダーのテキスト色を白に変更 */
    }
    #studyTimeTable td {
        background-color: #f2f2f2; /* セルの背景色を薄いグレーに変更 */
    }
    #totalStudyTimeTable th, #totalStudyTimeTable td {
        padding: 10px; /* セルのパディングを増やす */
        text-align: center; /* テキストを中央揃えにする */
    }
    #totalStudyTimeTable th {
        background-color: #0099FF; /* ヘッダーの背景色を変更 */
        color: black; /* ヘッダーのテキスト色を変更 */
    }
    #totalStudyTimeTable td {
        background-color: #f2f2f2; /* セルの背景色を薄いグレーに変更 */
    }
    .content-wrapper {
        display: flex; /* 子要素を横並びにする */
        justify-content: space-around; /* 子要素の間に適切な間隔を設定 */
    }
    
    .content-wrapper .form-section, .content-wrapper .time-sections {
        margin: 10px; /* 見た目を整えるためのマージン */
        padding: 20px; /* 各セクションの内側にスペースを追加 */
    }
    
    .content-wrapper .time-sections {
        display: flex;
        flex-direction: column; /* 子要素を縦並びにする */
    }
    .time-sections {
        display: flex;
        flex-direction: column; /* 子要素を縦並びに配置 */
    }
    
    .individual-section, .total-section {
        display: block; /* これらのセクションをブロック要素として扱う */
    }
    .form-section {
        display: block;
    }
    .study-logs {
        margin: 20px 0;
    }
    
    .study-log {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        padding: 10px;
        margin-bottom: 10px;
    }
    
    .pagination {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }
    
    .step-links {
        display: flex;
        gap: 10px;
    }
    
    .btn_page {
        background-color: #007bff;
        color: white;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 5px;
    }
    
    .btn:hover {
        background-color: #0056b3;
    }
    
    .current {
        padding: 5px 10px;
    }
    @media (max-width: 768px) {
        .header-container {
            flex-direction: column;
            text-align: center;
        }
        .study-log-btn, .login-streak-container {
            width: 100%; /* ボタンとログイン日数をフル幅に */
            margin: 10px;
            height:50%;
        }
        .study-log-btn {
            padding: 10px;
            margin: 10px; /* パディングを調整 */
        }
        .login-streak-container {
            justify-content: center; /* 中央揃え */
        }
        .btn-logged-in-user {
            margin: 10px;
        }
    }
    
</style>
<div style="display: flex; align-items: center; justify-content: space-between; padding: 10px;">
    <h1 style="margin: 0;">学習チャート</h1>
    <div class="header-container">
    <a href="{% url 'pt_kokushi:study_log_form' %}" class="btn btn-primary btn-logged-in-user" style="font-size: 20px; padding: 10px 20px; border-radius: 10px; border: 3px solid black">学習ログを記録する</a>
    {% if user.is_authenticated %}
    <div style="background-color: #388E3C; color: white; padding: 5px 10px; border-radius: 5px; font-size: 18px; display: inline-flex; align-items: center;">
        <i class="fas fa-fire" style="color: red; margin-right: 5px; font-size: 18px;"></i>
        <span>連続ログイン日数: {{ login_streak }}日</span>
    </div>
    {% endif %}
    </div>
</div>

<canvas id="studyLogChart"></canvas>
<div class="content-wrapper">
        <div class="time-sections">
            <div class="individual-section">
            <h2>{{ user.nickname }}さんの学習情報</h2>
            <div class="individual-time">
                <table id="studyTimeTable" class="table">
                <thead>
                    <tr>
                        <th>週間学習時間</th>
                        <th>月間学習時間</th>
                        <th>年間学習時間</th>
                        <th>トータル学習時間</th>
                    </tr>
                </thead>
                <tbody>
                     <tr>
                        <td>{{ weekly_total|floatformat:2 }} 時間</td>
                        <td>{{ monthly_total|floatformat:2 }} 時間</td>
                        <td>{{ yearly_total|floatformat:2 }} 時間</td>
                        <td>{{ total_study_time|floatformat:2 }} 時間</td>
                     </tr>
                </tbody>
                </table>
            </div>
        </div>
        <div class="total-time">
        <div class="total-section">
        <h2>ユーザー全体のランキング</h2>
        <table id="totalStudyTimeTable" class="table">
            <thead>
                <tr>
                    <th>順位</th>
                    <th>ニックネーム</th>
                    <th>週間学習時間</th>
                    <th>月間学習時間</th>
                    <th>年間学習時間</th>
                    <th>総学習時間</th>
                </tr>
            </thead>
            <tbody>
                {% for user in total_study_time_for_all_users %}
                <tr>
                    <td>{{ forloop.counter }}位</td>
                    <td>{{ user.user__nickname }}</td>
                    <td>{{ user.weekly_total|divide_by_60 }} 時間</td>
                    <td>{{ user.monthly_total|divide_by_60 }} 時間</td>
                    <td>{{ user.yearly_total|divide_by_60 }} 時間</td>
                    <td>{{ user.total_time|divide_by_60 }} 時間</td> 
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        </div>
    </div>
    {{ user_study_time|safe }}
</div>
    <div class="study-logs">
        <h2>学習ログ</h2>
        {% for log in page_obj %}
        <div class="study-log">
            <p><strong>{{ log.study_date }}:</strong> {{ log.study_content }}</p>
        </div>
        {% endfor %}
    </div>
    
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a class="btn btn_page" href="?page=1">&laquo; 最初</a>
                <a class="btn btn_page" href="?page={{ page_obj.previous_page_number }}">前</a>
            {% endif %}
    
            <span class="current">
                ページ {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a class="btn btn_page" href="?page={{ page_obj.next_page_number }}">次</a>
                <a class="btn btn_page" href="?page={{ page_obj.paginator.num_pages }}">最後 &raquo;</a>
            {% endif %}
        </span>
    </div>
<script>
    var ctx = document.getElementById('studyLogChart').getContext('2d');
    var studyLogChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [], 
            datasets: [{
                label: '学習時間（時間）',
                data: [], // 初期状態ではデータも空にしておきます
                backgroundColor: 'rgba(255, 99, 132, 0.8)',
                borderColor: 'rgba(255, 50, 0, 1)',
                borderWidth: 3
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    
                }
            }
        }
    });
    
    // データのフェッチとチャートの更新
    fetch('/login_app/studychart/study-log-data/') // APIのURLに置き換える
    .then(response => response.json())
    .then(data => {
        // 表示期間の開始日と終了日を設定（例：最新の1週間）
        const endDate = new Date();
        const startDate = new Date();
        startDate.setDate(endDate.getDate() - 7); // 最新の1週間
    
        const dateMap = {};
        
        // 開始日から終了日までの全日付でループ
        for(let date = new Date(startDate); date <= endDate; date.setDate(date.getDate() + 1)){
            const dateString = date.toISOString().split('T')[0];
            dateMap[dateString] = 0; // 初期値として0を設定
        }
    
        // データをループして日付ごとに学習時間を集計
        data.forEach(log => {
            if(dateMap.hasOwnProperty(log.study_date)){
                dateMap[log.study_date] += log.study_duration / 60; // 学習時間を時間単位で加算
            }
        });
    
        // 集計したデータをチャートのデータソースとして使用
        studyLogChart.data.labels = Object.keys(dateMap);
        studyLogChart.data.datasets[0].data = Object.values(dateMap);
    
        // チャートを更新
        studyLogChart.update();
    })
    .catch(error => console.error('Error fetching data:', error));


</script>
    

{% endblock %}