{% extends 'base.html' %}
{% load static %} 
{% load widget_tweaks %}

{% block content %}
<h2 class="mt-4">イベントを更新</h2>
<h2 class="mt-4">今は - {% now "Y年 m月d日 l" %}</h2>

<form method="post" class="mt-4">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_title" class="form-label">イベントタイトル</label>
        {{ form.title|add_class:'form-control' }}
    </div>
    <div class="mb-3">
        <label for="id_start_date" class="form-label">開始日</label>
        {{ form.start_date|add_class:'form-control' }}
    </div>
    <div class="mb-3">
        <label for="id_end_date" class="form-label">終了日</label>
        {{ form.end_date|add_class:'form-control' }}
    </div>
    <button type="submit" class="btn btn-primary">更新</button>

    <button type="button" onclick="confirmDelete({{ event.id }})" class="btn btn-danger">削除</button>

</form>

<script>
    function confirmDelete(eventId) {
        if (confirm('本当にこのイベントを削除しますか？')) {
            window.location.href = `{% url 'pt_kokushi:delete_event' 0 %}`.replace('0', eventId);
        }
    }
</script>

{% endblock %}
